.nav_main {
    display: flex;
    justify-content: space-between;
}
.logo_route{
    color: black;
}
.logo {
    width: 29%;
    margin-left: -2vw;
    /* filter: drop-shadow(0 0 5px); */
   
}
.nav_ul {
    width: 50%;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}
.phone_route {
    width: 50%;
    text-decoration: none;
    color: black;
    margin-top: 3vh;
}
.phone_img {
    width: 100%;
    margin-top: 1vh;
    /* filter: drop-shadow(0 0 2px white); */
    /* box-shadow: 0 0 10px black;
    padding: 10px;
    border-radius: 200px; */

}